<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test thread-count="5" name="Test">
  <parameter name="browser" value= "Firefox"></parameter>
  <classes>
  
  <class name = "parameterizationTest.Assignment1" />
  
   </classes>
   
  <!-- classes>
	  <class name = "annotations.Testing" />  
	  <class name = "keywordTest.ParallelTest" />
	  <class name = "keywordTest.PriorityTest" />
	  <class name = "keywordTest.DescriptionTest" />
	  <class name = "keywordTest.DependsonMethods" />
	  <class name = "keywordTest.ExpectedExceptionTest" />
	  <class name = "keywordTest.InvocationTest" />
	  <class name = "keywordTest.SkipTest" />
	  <class name = "parameterizationTest.BrowserParameterTest" />
	   <class name = "parameterizationTest.SingleDataProviderTest" />
	</classes-->   
 
  </test> <!-- Test -->
</suite> <!-- Suite -->
